<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#FACC15" />
    <title inertia>Controlla</title>

    @inertiaHead()
    @viteReactRefresh()
    @vite(['app.tsx', 'css/app.css'])
  </head>
  <body class="bg-bg text-ink antialiased">
    @inertia()
  </body>
</html>
